/* ==========================================================================
   1. GLOBAL & BODY (Membuat halaman full hitam & mengunci posisi di tengah)
   ========================================================================== */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #0C0D0F; 
    overflow: hidden;          /* Menghilangkan scrollbar */
    
    /* Flexbox untuk memaksa video tepat berada di tengah layar */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ==========================================================================
   2. MAIN CONTAINER (Pembungkus Video Player)
   ========================================================================== */
#container {
    width: 90%;          /* Lebar video 90% dari lebar layar di HP */
    /*max-width: 960px;    /* Batas lebar maksimal di PC agar tidak terlalu raksasa */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ==========================================================================
   3. VIDEO PLAYER (Kotak Sempurna / Sharp Corners)
   ========================================================================== */
#player-container {
    width: 100%;
    border-radius: 0 !important; /* Memastikan sudut benar-benar kotak tajam */
    overflow: hidden;
}

/* Memastikan jwplayer tidak membawa lengkungan bawaan */
.jwplayer {
    border-radius: 0 !important;
}
